# General
export JWT_SECRET_KEY=
export APP_ENCRYPTION_KEY=

# Database
export DATABASE_URL=postgres://user:password@localhost:5432/kodiflow?sslmode=disable
export MIGRATIONS_PATH=internal/infrastructure/database/migrations/


